.productPage{
    padding: 20px 40px;
    border: 1px solid #d9d9d9;
    height: 100%;

    @media (max-width: 576px) {
        padding: 20px;
    }

    & .filterRow{
        margin-bottom: 20px;
        
        @media (max-width: 991px) {
            row-gap: 10px;
            display: flex;
            justify-content: center;
        }
    }

    & .productGrid{
        border-top: 1px solid #dee2e6;
        margin-top: 20px;
        padding-top: 20px;
        row-gap: 20px;

        & .productCard{
            height: 100%;
            box-shadow: 1px 1px 2px #adb5bd;
            border: 1px solid #e9ecef;
            background-color: #f8f9fa;

            & .imageWrapper{
                max-width: 100%;
                height: 300px;
                max-height: 300px;             
                overflow: hidden;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 10px;

                & .productImg{
                    max-width: 100%;
                    max-height: 100%;
                    object-fit: contain;
                }
            }

            & .productPrice{
                 margin-top: 8px;
            }

            & .btnGroup{
                width: 100%;
                display: flex;
                gap: 10px;
                margin-top: 20px;

                & .editBtn {
                    width: 100%;
                    background-color: #2d74c4;
                    color: #ffffff;
                    border: 1px solid #2d74c4;
                    border-radius: 4px;

                    &:hover{
                        opacity: 0.7;
                    }
                }

                & .deleteBtn {
                    width: 100%;
                    background-color: #ffffff;
                    color: #2d74c4;
                    border: 1px solid #e5e5e5;
                    border-radius: 4px;

                    &:hover{
                        color: #000000;
                        background-color: #e5e5e5;
                    }
                }
            }
        }
    }

    & .paginationRow {
        display: flex;
        justify-content: center;
        padding: 30px 0;

        & :global(.page-link) {
            background-color: #ffffff;
            color: #000000;
            border: 1px solid #e5e5e5;
        }

        & :global(.page-link:hover) {
            background-color: #e5e5e5;
            color: #000000;
        }

        & :global(.page-item.active .page-link) {
            background-color: #c5c5c5 !important;
            color: #000000 !important;
            border: 1px solid #e5e5e5 !important;
        }

        & :global(.page-item.disabled .page-link) {
            color: #aaa;
            cursor: not-allowed;
        }

        & :global(.page-item:nth-child(2)) {
            margin-right: 12px;
        }

        & :global(.page-item:nth-last-child(2)) {
            margin-left: 12px;
        }
    }
    & .notFound{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        min-height: 400px;
        background-color: #dee2e6;

        & .emptyCartIcon{
            font-size: 50px;
        }
    }
}

.deleteModal {
    :global(.modal-content) {
        position: relative;
        text-align: center;

        & .closeBtn{
            position: absolute;
            right: 10px;
            background-color: transparent;
            width: fit-content;
            color: #000000;
            border: 0;
            font-weight: 500;
            font-size: 20px;
            z-index: 10;
        }
    }

    :global(.modal-body) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 12px;

        & .warningIcon {
            font-size: 42px;
            color: #f4b400;
        }
    }

    :global(.modal-footer) {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;

        & .actionBtn {
            width: 100%;
            color: #ffffff;
            border-radius: 4px;
            border: 0;
            max-width: 160px;

            &.delete{
                background-color: red;
            }
            &.cancel{
                background-color: grey;
            }

            &:hover{
                opacity: 0.5;
            }
        }
    }
}