@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");
html,
body {
  background: #f8f8fb;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.02em;
}

p,h1,h2,h3,h4,h5,h6{
    margin-bottom: unset !important;
}

.wrapper{
  min-height: 100vh;
  background-color: #e9ecef;
  padding: 30px;

  @media (max-width: 576px) {
    padding: 15px;
  }
}

input:focus,
select:focus,
textarea:focus {
  border-color: #aaaaaa !important;
  box-shadow: none !important;
  outline: none;
}

.titleHeader{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.header{
  background-color: #f8f9fa;
  padding: 8px 40px;
  display: flex;
  justify-content: space-between;
  box-shadow: 2px 2px 1px 0px #dee2e6;

  @media (max-width: 576px) {
      padding: 8px 20px;
  }

  & .brandName{
    font-weight: 500;

    @media (max-width: 576px) {
      font-size: 14px;
    }
  }

  & :global(.nav-link.active) {
    color: #3889ff;
  }

  & :global(.nav-link) {
    position: relative;
    padding: 6px 0 !important;
    margin-right: 20px;
    font-weight: 500;
    color: #000000;

    @media (max-width: 576px) {
      margin: 0 0 0 20px;
    }
  }

  & :global(.nav-link.active)::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 3px;
    background-color: #3889ff;
  }
}